/*@font-face {
    font-family: Yanone;
    src: url(../fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz-Regular.ttf);
}

@font-face {
    font-family: Yanone-Light;
    src: url(../fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz-Light.ttf);
}

@font-face {
    font-family: Yanone-Bold;
    src: url(../fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz-Bold.ttf);
}

@font-face {
    font-family: Yanone-ExtraLight;
    src: url(../fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz-ExtraLight.ttf);
}

@font-face{

    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face{

    font-family: Raleway-Bold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face{

    font-family: Raleway-ExtraBold;
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}

@font-face{

    font-family: Raleway-Italic;
    src: url(../fonts/Raleway/Raleway-Italic.ttf);
    }*/



    /* Optional theme */
    /*@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');*/
    @import url("fonts.css");
    @import url("bootstrap.min.css");
    @import url("bootstrap-theme.min.css");
    @import url("owl.carousel.min.css");
    @import url("owl.theme.default.min.css");
    @import url("owl.theme.green.min.css");
    @import url("slick.css");
    @import url("slick-theme.css");
    @import url("theme-punch.css");

    /* RESET */

    * {
        margin: 0px;
        padding: 0px;
        list-style: none;
        vertical-align: baseline;
    }
    :focus,
    :hover {
        outline: 0;
    }
    html,
    body {
        height: 100%;
        /*max-width: 1450px;*/
        margin: auto;
    }
    body {
        font-family: Regular, Helvetica, sans-serif;
        font-size: 14px;
        background: #fff;
    }
    table {
        border-collapse: separate;
        border-spacing: 0;
    }
    span {
        display: block;
    }
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: "";
    }
    blockquote,
    q {
        quotes: "" "";
    }
    a {
        color: rgba(15, 115, 238, 1.0);
    }
    a,
    a:hover,
    a:focus {
        text-decoration: none;
    }
    input {
        box-shadow: none !important;
        border: 0px !important;
    }
    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset !important;
        background-color: #fff;
        transition: background-color 5000s ease-in-out 0s;
    }

    label{

        max-width: 100%
        margin-bottom: 5px;
        /*font-weight: 700;*/
        padding-bottom: 15px;
        display: block;

    }

    .modal {
        z-index: 999999999999999999999 !important;
    }
    .modal-open {
        overflow: hidden !important;
    }
    .vertical-center {
        min-height: 100%;
        min-height: 100vh;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    .form-control:focus {
        box-shadow: none !important;
        border-color: none !important;
    }
    .error {
        color: #F91818 !important;
        font-weight: normal;
        display: block;
        font-family: Zilla;
        font-size: 22px;
    }
    .topo {
        /*height: 82px;*/
        width: 100%;
        background-color: #FFFFFF;
        box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
        position: fixed;
        z-index: 3;
        /*max-width: 1450px;*/
        /*margin-top: 10px;*/

    }
    .topo a {
        height: 21px;
        width: 139px;
        color: rgba(135, 145, 161, 0.65);
        font-family: "Yanone Kaffeesatz";
        font-size: 18px;
        font-weight: bold;
        line-height: 22px;
        text-align: center;
        z-index: 10;
        /*padding:*/
    }

    .topo a:hover{

        height: 44px;
        width: 139px;
        background-color: rgba(135,145,161,0.65);
        text

    }
    .logo {
        float: left;
        z-index: 10;
    }

    // vc deve definir nesse caso
    .logo img{
      width: 100px;
  }

  header {
    display: inline;
}

.white_buffer{

    height: 120px;
    width: 100%;
    background-color: #FFFFFF;

}


.opcao_menu {
    color: rgba(135, 145, 161, 0.65);
    /* font-family: "Yanone Kaffeesatz"; */
    font-family: Yanone;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    float: right;
    z-index: 3;

}
.menu_item_hover {
    height: 44px;
    width: 139px;
    border-radius: 5px;
    background-color: rgba(135, 145, 161, 0.65);
}
.banner {
    height: 676px;
    width: 100%;
    border: 1px solid #979797;
    background-color: #30579A;
    z-index: 2;
}
.titulo_banner {
    height: 204px;
    width: 894px;
    color: #FFFFFF;
    font-family: Raleway-ExtraBold;
    font-size: 87px;
    font-weight: bolder;
    line-height: 102px;
    padding-top: 150px;
    z-index: 2;
}
.texto_banner {
    height: 42px;
    width: 982px;
    color: #FFFFFF;
    font-family: Raleway-ExtraLight-Italic;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    line-height: 42px;
    padding-top: 150px;
    z-index: 2;
}
.sobre {

    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
    padding-bottom: 200px;
}
.sobre_titulo {
    /*height: 85px;
    width: 218px;*/
    color: #30579A;
    font-family: Raleway-ExtraBold;
    font-size: 100px;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 85px;
    padding-top: 200px;
    z-index: 3;
}

.sobre_titulo_fundo{

    /*height: 85px;
    width: 218px;*/
    color: #30579A;
    font-family: Raleway-ExtraBold;
    position: absolute;
    top: 830px;
    right: 1300px;
    width: 200px;
    height: 100px;
    font-size: 200px;
    /*-webkit-text-fill-color: transparent;*/
    opacity: 0.1;
    z-index: 1;


}

.single-item{


}

.servicos_titulo_fundo{

    height: 85px;
    width: 218px;
    color: #30579A;
    font-family: Raleway-ExtraBold;
    position: absolute;
    top: 1630px;
    right: 1300px;
    width: 200px;
    height: 100px;
    font-size: 200px;
    /*-webkit-text-fill-color: transparent;*/
    opacity: 0.1;
    z-index: 1;


}

.clientes_titulo_fundo{

    height: 85px;
    width: 218px;
    color: #30579A;
    font-family: Raleway-ExtraBold;
    position: absolute;
    top: 2530px;
    right: 1300px;
    width: 200px;
    height: 100px;
    font-size: 200px;
    /*-webkit-text-fill-color: transparent;*/
    opacity: 0.1;
    z-index: 1;


}

.clientes_titulo {

   /* height: 85px;
   width: 309px; */
   color: #30579A;
   font-family: Raleway-ExtraBold;
   font-size: 72px;
   font-weight: 800;
   letter-spacing: 2px;
   line-height: 85px;
   padding-top: 110px;
}

.carrossel_clientes{

    padding-top: 200px;

}

.carrossel_sobre{

    /*margin-left: 250px;*/

    margin-top: 80px;
    margin-left: 0px;
    margin-bottom: 20px;






}

.carrossel_sobre .img-center {
    display: table-cell;
    height: 336px;
    text-align: center;
    vertical-align: middle;
    width: 582px;
    background: #e5e5e5;
}

.carrossel_sobre .img-center img {
    display: block;
    width: 100%;
    max-width: none;
    margin: 0 auto;
    max-height: 336px;
}

.slider-min {
    display: inline-block;
    height: 60px;
    margin: 0 10px;
    text-align: center;
    color: white;
    font-size: 2em;
}

.item-nav {
    width: 63px;
    height: 63px;
}

.item-nav img {
    width: 100%;
    height: 63px;
    cursor: pointer;
}

/*.slider-nav{

    width: 20%;
    height: 20%;
    margin-left: 200px;



    } */



    .sobre_texto {
        height: 384px;
        width: 545px;
        color: #353D4B;
        font-family: Raleway;
        font-size: 20px;
        font-weight: 300;
        line-height: 24px;
        padding-top: 90px;
        z-index: 2;
    }
    .servicos {
        height: 925px;
        width: 100%;
        background-color: rgba(135, 145, 161, 0.2);
        z-index: 2;
    }

    .servicos_titulo{

    /*height: 85px;
    width: 318px;*/
    color: #30579A;
    font-family: Raleway-ExtraBold;
    font-size: 72px;
    /*font-weight: 800;*/
    letter-spacing: 2px;
    line-height: 85px;
    margin-top: 170px


}
.servicos_folder_up {
    height: 333px;
    width: 545px;
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    z-index: 5;
}

background-image{

    background-color: #30579A;

}

.servicos_folder_up:hover {
    height: 333px;
    width: 545px;
    border-radius: 5px;
    background-image: url("../img/DeathNote.jpg");
    background-color: #30579A;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.2);
    z-index: 5;


}

.servicos_folder_up:hover .servicos_titulo_do_servico {
    color: white;


}

.servicos_folder_up:hover .servico_texto {
    color: white;


}


.servicos_folder_down {
    height: 333px;
    width: 545px;
    border-radius: 5px;

    background-color: #FFFFFF;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    z-index: 5;
}

.servicos_folder_down:hover {
    height: 333px;
    width: 545px;
    border-radius: 5px;
    background-image: url("../img/DeathNote.jpg");
    background-color: #30579A;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,0.2);
    z-index: 5;


}


.servicos_folder_down:hover .servicos_titulo_do_servico {
    color: white;


}

.servicos_folder_down:hover .servico_texto {
    color: white;


}


.servicos_titulo_do_servico{


    height: 84px;
    width: 446px;
    color: #30579A;
    /*font-family: Raleway;*/
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 42px;
    text-align: center;

    
    margin-left: 50px;
    padding-top: 25px;
    font-family: Raleway-Bold;


}

.servico_texto {
    /*height: 105px;
    width: 446px;*/
    color: #353D4B;
    font-family: Raleway-ExtraLight;
    font-size: 18px;
    /*font-weight: 500;*/
    line-height: 21px;
    text-align: center;
    padding-top: 80px;
}

.servicos_texto {
    height: 84px;
    width: 446px;
    color: #30579A;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 42px;
    text-align: center;
    z-index: 2;
}
.clientes {
    /*height: 868px; */
    padding-top: 10px;
    padding-bottom: 200px;
    width: 100%px;
    background-color: #FFFFFF;
    z-index: 2;
}
.contato {
    /*height: 868px;*/
    width: 100%;
    background-color: #353D4B;
    z-index: 2;

}

.contato_titulo {
    /*height: 85px;*/
    /*width: 299px; */
    color: #E7E9EC;
    font-family: Raleway-Bold;
    font-size: 72px;
    /*font-weight: bold;*/
    letter-spacing: 2px;
    line-height: 85px;
    z-index: 2;
    padding-top: 122px;
    padding-right: 150px; 
    margin-right: 150px;
}
.contato_texto {
   /* height: 84px;
   width: 782px; */
   color: #E7E9EC;
   font-family: Raleway-ExtraLight-Italic;
   font-size: 36px;
   font-style: italic;
   font-weight: 200;
   line-height: 42px;
   z-index: 2;
   /* padding-top: 50px; */
}

.contato_atendimento{


    color: #FFFFFF;
    font-family: Raleway-ExtraLight;
    font-size: 18px;
    line-height: 21px;
    text-align: left;


}
.botao_enviar {
    height: 42px;
    width: 197px;
    border-radius: 5px;
    background-color: #30579A;
    z-index: 2;
}
.enviar {
    height: 21.52px;
    width: 69px;
    color: #E7E9EC;
    font-family: "Yanone Kaffeesatz";
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    z-index: 2;
}
.rodape {
    /*height: 131px;*/
    width: 100%;
    background-color: #1D2430;
    /*max-width: 1450px;*/
    z-index: 2;
    /*padding-bottom: 70px; */
    /*padding-left: 100px; */
    /*padding-right: 100px;*/
    padding-top: 30px;
    padding-bottom: 20px; 

}

.texto_rodape_endereco{

    /*height: 44px;*/
    /* width: 383px; */
    color: #E7E9EC;
    font-family: Raleway-ExtraLight;
    font-size: 14px;
    line-height: 22px;
    /*padding-top: 70px;*/
    /*padding-bottom: 70px; */
    /*padding-left: 100px; */
    /*padding-right: 100px;*/
    z-index: 2;
    margin: 0;

    /*display: inline-block;*/




}

.texto_rodape_desenvolvedora{

    /*height: 44px;*/
    /* width: 383px; */
    color: #E7E9EC;
    font-family: Raleway-ExtraLight;
    font-size: 14px;
    line-height: 22px;
    /*padding-top: 70px;*/
    /*padding-bottom: 70px; */
    padding-left: 100px; */
    /*padding-right: 100px;*/
    z-index: 2;
    text-align: right;

    /*display: inline-block;*/




}

.seta_rodape a{

    /*height: 44px;*/
    /* width: 383px; */
    color: #E7E9EC;
    font-family: Raleway-ExtraLight;
    font-size: 14px;
    line-height: 22px;
    /*padding-top: 70px;*/
    /*padding-bottom: 70px; */
    /*padding-left: 100px; */
    /*padding-right: 100px;*/
    z-index: 2;
    /*padding-left: 150px;*/
    color: white;
    text-align: center;
    padding-left: 170px;


    /*display: inline-block;*/




}

/* EDIÇÕES */
.opcao_menu{
  float:right;
}

.opcao_menu nav ul li{
 display:inline-block; 
 width: 150px;
 padding-top: 35px;
 text-transform: uppercase;
}

.texto_rodape ul li{

 display:inline-block;
 width: 500px;
 float: left;

}

.campo_de_preenchimento {
    /*height: 40px;
    width: 300px; */
    border-radius: 5px;
    /*background-color: #FFFFFF;*/
    /*padding-top: 100px; */
    padding-top:  80px;
    padding-right: 20px;


}

.contato .container{

    width: 100%px;
}

.button_contato  {
    height: 42px;
    width: 197px;
    border-radius: 5px;
    background-color: #30579A;
    /*margin-top:  300px;
    margin-left: 350px; */
    color: #E7E9EC;
    font-family: "Yanone Kaffeesatz";
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    /* padding-left: 80px; */
    padding-top: 5px;
    text-transform: uppercase;
    margin-left: 350px;
    margin-bottom: 50px;
    outline: none;
    border: 0px;

}

textarea {
    height: 97px;
    width: 545px;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-family: Raleway-ExtraLight-Italic;
    text-indent: 15px;
}

.campo_de_preenchimento{


}

.campo_de_preenchimento label input[type="text"]{

    width: 545px;
    border-radius: 5px;
    background-color: #FFFFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 15px;
    font-family: Raleway-ExtraLight-Italic;
    margin-right: 200px;

}

.enviartexto {
    /*height: 21.52px;
    width: 69px;*/
    color: #E7E9EC;
    font-family: "Yanone Kaffeesatz";
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
    /* padding-left: 80px; */
    padding-top: 5px;
    text-transform: uppercase;

}

.retangulo_enviar {
    height: 42px;
    width: 197px;
    border-radius: 5px;
    background-color: #30579A;
    z-index: 2;
    margin-top: 300px;
    margin-left: 350px;
}

.galeria_clientes{

    margin-top: 50px;

}

.galeria_clientes .owl_galeria{

    width: 70%;
    margin-left: auto;
    margin-right: auto;

}

.galeria_clientes .owl-carousel .owl-item{
 /*color: red;
 background-color: #353D4B; 
 width: 100px;
 height: 100px;
 text-align: center;
 padding: 30px; 
 margin-top: 100px;*/
 /*background-color: #353D4B;*/ 

 /*width: 200px;
 height: 200px;*/

 /*padding-top: 100px;*/
 border: 1px solid; 



}

.galeria_clientes .owl-carousel .owl-item{
 /*color: red;
 background-color: #353D4B; 
 width: 100px;
 height: 100px;
 text-align: center;
 padding: 30px; 
 margin-top: 100px;*/
 /*background-color: #353D4B;*/ 

 /*width: 200px;
 height: 200px;*/

 /*padding-top: 100px; */

 /*margin-top: 100px;*/



}

.galeria_clientes .owl-carousel .owl-item:hover .overlay{
 /*color: red;
 background-color: #353D4B; 
 width: 100px;
 height: 100px;
 text-align: center;
 padding: 30px; 
 margin-top: 100px;*/
 /*background-color: #353D4B; */ 

 /*width: 200px;
 height: 200px;*/

 /*padding-top: 100px; */ 

 opacity: 0.9;

}

.galeria_clientes .owl-theme .owl-nav{

   position: absolute;
   width: 100%;
   margin-top: -10%;



}

.galeria_clientes .owl-theme .owl-nav .arrow{

    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border-radius: 500px;

}

.galeria_clientes .owl-theme .owl-nav .arrow .arrow-circulo{

   color: #FFF;
   background-color: #30579A;
   border-radius: 500px;
   font-size: 28px;
   opacity: 1;
   width: 40px;
   height: 40px;
   margin-left: auto;
   margin-right: auto;


}

.galeria_clientes .owl-theme .owl-nav .owl-next{


    float: right;
    margin-right: -150px;
    /*margin-bottom: 100px;*/
    height: 70px;
    width: 70px;
    opacity: 1;
    display: table;
    border-radius: 500px;
    background: rgba(48,87,154,0.2);
    background-color: #E0F4FF;
    padding: 10px;



}

.galeria_clientes .owl-theme .owl-nav .owl-prev{

 float: left;
 margin-left: -150px;
 height: 70px;
 width: 70px;
 opacity: 1;
 display: table;
 border-radius: 500px;
 background: rgba(48,87,154,0.2);
 background-color: #E0F4FF;
 padding: 10px;



}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*margin-top: 10%;*/
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #30579A;
  z-index: 5;
}

.text_banner_cliente {
  color: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  opacity: 1;
  font-family: Yanone;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 22px;
  z-index: 5;
}
