@font-face {
    font-family: Yanone;
    src: url(../fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz-Regular.ttf);
}

@font-face {
    font-family: Yanone-Light;
    src: url(../fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz-Light.ttf);
}

@font-face {
    font-family: Yanone-Bold;
    src: url(../fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz-Bold.ttf);
}

@font-face {
    font-family: Yanone-ExtraLight;
    src: url(../fonts/Yanone_Kaffeesatz/Yanone_Kaffeesatz-ExtraLight.ttf);
}

@font-face{

    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}

@font-face{

    font-family: Raleway-Bold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face{

    font-family: Raleway-ExtraBold;
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
}

@font-face{

    font-family: Raleway-Italic;
    src: url(../fonts/Raleway/Raleway-Italic.ttf);
}

@font-face{

    font-family: Raleway-Light;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}

@font-face{

    font-family: Raleway-Light-Italic;
    src: url(../fonts/Raleway/Raleway-LightItalic.ttf);
}

@font-face{

    font-family: Raleway-ExtraLight;
    src: url(../fonts/Raleway/Raleway-ExtraLight.ttf);
}

@font-face{

    font-family: Raleway-ExtraLight-Italic;
    src: url(../fonts/Raleway/Raleway-ExtraLightItalic.ttf);
}

/*@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/);
  /*src: url(https://example.com/MaterialIcons-Regular.eot); */ /* For IE6-8 */
  /*src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}/*