@font-face {
    font-family: Raleway;
    src: url(https://fonts.googleapis.com/css?family=Raleway);
}

@font-face{
	font-family: Yanone;
	src: url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);	
}

